    body {
        font-family: sans-serif;
        background: #E5E5E5;
        padding-top: 46px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .header {
        background-color: #0050B3;
        height: 48px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
    
    .header-block {
        max-width: 1200px;
        margin: auto;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .m-menu {
        border: none;
        width: 32px;
        height: 32px;
        background-color: transparent;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        min-width: 32px;
        margin-right: 15px;
        padding-left: 12px;
    }
    
    .m-menu .line {
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
    }
    
    .search-input {
        font-size: 14px;
        line-height: 22px;
        padding: 5px 30px 5px 12px;
        /* width: 100%; */
        width: 336px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        background-image: url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: right 12px center;
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: start;
        max-width: 413px;
        height: 36px;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    
    .user {
        display: flex;
        align-items: center;
    }
    
    .user-avatar {
        margin-right: 8px;
    }
    
    .user-name {
        /* margin: 8px 13px 12px 13px; */
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
    .navigation-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 12px; */
    }
    
    .navigation-link {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        /* font-weight: 600; */
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 12px;
    }
    
    .navigation-link:before {
        content: "";
        width: 1px;
        height: 16px;
        background: #003A8C;
        margin-right: 12px;
    }
    
    .navigation-link:last-child:after {
        content: "";
        width: 1px;
        height: 16px;
        background: #003A8C;
        margin-left: 12px;
    }
    
    .icons-panel {
        display: flex;
        align-items: center;
    }
    
    .icons-link {
        display: flex;
        align-items: center;
        margin-left: 12px;
        position: relative;
    }
    
    .icons-link:last-child:before {
        content: "";
        width: 1px;
        height: 16px;
        background: #003A8C;
        margin-right: 12px;
    }
    
    .notification {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5222D;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 16px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width: 20px;
        height: 20px;
        top: -8px;
        right: -8px;
        /* margin-bottom: 20px;
        margin-left: 10px; */
    }
    
    .dropdown-wrapper {
        margin-left: 6px;
    }
    
    .dropdown {
        fill: #002766;
    }
    
    .icon {
        fill: #002766;
    }
    
    .icon:hover {
        fill: #FFFFFF;
    }
    /* main-block */
    
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 16px;
    }
    
    .menu-sidebar {
        width: 192px;
        padding-right: 27px;
        /* display: flex;
        flex-direction: column; */
    }
    
    .menu-sidebar .user-avatar {
        width: 24px;
        height: 24px;
    }
    
    .menu-sidebar .user {
        padding-left: 8px;
    }
    
    .menu-sidebar .user-name {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        color: #262626;
        width: auto;
    }
    
    .nav-group {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 24px;
        justify-content: center;
    }
    
    .link-text {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    
    .menu-icon {
        fill: #1890FF;
        margin-right: 8px;
    }
    
    .menu-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 4px 8px;
    }
    
    .menu-link.active {
        border-radius: 4px;
        background-color: #FFFFFF;
        background-image: url(../img/dots.png);
        background-repeat: no-repeat;
        background-position: right 8px center;
    }
    
    .nav-title {
        font-size: 12px;
        line-height: 20px;
        color: #262626;
        padding-left: 8px;
        margin-top: 0;
        margin-bottom: 4px;
    }
    
    .main-feed {
        width: 100%;
        max-width: 558px;
        margin-top: 7px;
    }
    
    .create-post {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    
    .create-post-header {
        background: #F5F5F5;
        border-bottom: 1px solid #D9D9D9;
    }
    
    .create-post-title {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
        padding: 9px 16px;
        margin: 0;
    }
    
    .create-post-body {
        display: flex;
        align-items: flex-start;
        padding-left: 16px;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }
    
    .create-post-body .user-avatar {
        width: 40px;
        height: 40px;
    }
    
    .create-post-intut {
        font-size: 16px;
        line-height: 24px;
        color: #8C8C8C;
        margin-top: 8px;
    }
    
    .create-post-footer {
        display: flex;
        padding: 16px;
        padding-top: 0;
        flex-wrap: wrap;
    }
    
    .create-post-footer::before {
        content: "";
        border: 1px solid #E8E8E8;
        width: 100%;
        margin-bottom: 16px;
    }
    
    .button-create {
        display: flex;
        align-items: center;
        background: #F5F5F5;
        border-radius: 48px;
        height: 40px;
        /* width: 134px; */
        margin-right: 8px;
        padding-right: 12px;
        text-decoration: none;
    }
    
    .button-create.dots {
        width: 48px;
    }
    
    .icom-button {
        margin-right: 8px;
        /* width: 24px;
        height: 24px; */
        margin-left: 12px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .icom-button.dots {
        margin: 8px 12px;
        width: 24px;
        height: 24px;
    }
    
    .text-button {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    
    .post {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px;
        margin: 16px 0;
    }
    
    .post .user-avatar {
        width: 48px;
        height: 48px;
        margin-right: 12px;
    }
    
    .settings-icon {
        width: 14px;
        height: 14px;
        /* margin-top: 4px; */
    }
    
    .post-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    
    .post-info {
        /* text-decoration: none; */
    }
    
    .author-link {
        text-decoration: none;
    }
    
    .post-author {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        color: #0050B3;
    }
    
    .post-time {
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
    }
    
    .post-time::after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #BFBFBF;
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 50%;
        vertical-align: middle;
    }
    
    .post-ifo-time {
        display: flex;
        align-items: center;
    }
    
    .post-dots {
        height: 24px;
        background: transparent;
        border: 0;
        cursor: pointer;
    }
    
    .post-text {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
        margin-bottom: 16px;
    }
    
    .post-text a {
        color: #096DD9;
        text-decoration: none;
    }
    
    .post-image {
        width: 100%;
        border: 1px solid #BFBFBF;
        border-radius: 4px;
    }
    
    .post-likes {
        margin-top: 9px;
        margin-bottom: 9px;
        display: flex;
        align-items: center;
    }
    
    .likes-text {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    
    .likes-icon {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        fill: #1890FF;
    }
    
    .post-footer {
        display: flex;
        justify-content: space-around;
        /* padding: 16px;
        padding-top: 0; */
        flex-wrap: wrap;
    }
    
    .post-footer::before {
        content: "";
        border: 1px solid #E8E8E8;
        width: 100%;
        margin-bottom: 16px;
    }
    
    .footer-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        fill: #595959;
    }
    
    .button-post {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        text-decoration: none;
        padding: 0;
    }
    
    .text-button {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    
    .rigth-sidebar {
        width: 384px;
        margin-left: 24px;
    }
    
    .stories {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 0;
    }
    
    .stories-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 22px;
        margin: 16px 16px 16px 24px;
    }
    
    .stories-title {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
    }
    
    .stories-icon {
        fill: #0050B3;
        margin-right: 4px;
        /* vertical-align: middle; */
    }
    
    .stories-title-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: #0050B3;
        margin-right: 8px;
    }
    
    .stories-title-dot {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #BFBFBF;
        margin-right: 8px;
        border-radius: 50%;
        vertical-align: middle;
    }
    
    .stories-title-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .stories-buttons {
        display: flex;
        align-items: center;
    }
    
    .stories-buttons {
        margin-left: 24px;
        margin-bottom: 16px;
        height: 48px;
    }
    
    .stories-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .stories-link-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        color: #0050B3;
    }
    
    .stories-text {
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
    }
    
    .stories-block {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }
    
    .stories-more {
        display: flex;
        align-items: center;
        margin-left: 24px;
        margin-bottom: 16px;
        height: 22px;
    }
    
    .stories-more .icons-dropdown {
        display: flex;
        align-items: center;
        margin-right: 12px;
        text-decoration: none;
    }
    
    .dropdown-more-icon {
        fill: #BFBFBF;
    }
    
    .more-text {
        font-size: 14px;
        line-height: 22px;
        color: #0050B3;
        text-decoration: none;
    }
    
    .birthday {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 16px;
    }
    
    .birthday-icon {
        margin-right: 8px;
    }
    
    .birthday-link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .birthday-name-text {
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #0050B3;
        vertical-align: middle;
    }
    
    .birthday-text {
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    
    .funpage {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }
    
    .funpage-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 9px;
        margin-bottom: 9px;
        width: 100%;
    }
    
    .funpage-header:after {
        content: "";
        border: 1px solid #E8E8E8;
        width: 100%;
        margin-top: 9px;
    }
    
    .funpage-title {
        font-size: 14px;
        line-height: 22px;
        color: #595959;
        margin: 0;
        padding-left: 16px;
    }
    
    .funpage-header .post-dots {
        margin-right: 8px;
    }
    
    .user-stats {
        display: flex;
        align-items: flex-start;
        margin: 16px;
        margin-top: 7px;
        border-bottom: 1px solid #E8E8E8;
    }
    
    .user-stats .user-avatar {
        width: 48px;
        height: 48px;
        margin-right: 12px;
    }
    
    .stats-text {
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
    }
    
    .user-stats .author-link {
        margin-bottom: 4px;
    }
    
    .user-stats .settings-icon {
        margin-right: 4px;
    }
    
    .user-stats .post-info {
        padding-bottom: 23px;
    }
    
    .notification-count {
        background: #F5F5F5;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #595959;
        margin-left: 5px;
        width: 17px;
        height: 22px;
    }
    
    .funpage-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }
    
    .funpage-radiobutton {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #595959;
        padding: 8px 16px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
    }
    
    .funpage-radiobutton.active {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #1890FF;
        background: #FFFFFF;
        border: 1px solid #1890FF;
        box-sizing: border-box;
    }
    
    .funpage-likes-count {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #262626;
        margin: 0;
        margin-bottom: 4px;
    }
    
    .funpage-likes-week {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #8C8C8C;
        margin: 0;
        margin-bottom: 16px;
    }
    
    @media (max-width: 1200px) {
        .container {
            justify-content: flex-start;
            width: 95%;
        }
        .rigth-sidebar {
            display: none;
        }
        .header-block {
            width: 95%;
        }
    }
    
    @media (max-width: 960px) {
        .header .user {
            display: none;
        }
        .navigation-panel {
            display: none;
        }
    }
    
    @media (max-width:840px) {
        .menu-sidebar {
            position: fixed;
            left: 0;
            top: 48px;
            width: 100%;
            max-width: 250px;
            background-color: rgb(166, 167, 168);
            padding-top: 12px;
            height: 100%;
            padding-left: 2%;
            transform: translateX(-100%);
            transition: transform, ease, 500ms;
        }
        .menu-sidebar.active {
            transform: translateX(0);
        }
        .m-menu {
            display: flex;
        }
    }
    
    @media (max-width: 760px) {
        .header-search {
            display: none;
        }
    }